* { 
    padding: 0px;
    margin: 0px;
}

.flexIt{
    display: flex;
}

.card {
    width: 750px;
    
}

.topBar {
    height: 100px;
    background-color: rgb(16, 141, 163);
}
.bottomCard {
    height: 300px;
    border: 5px solid gray;
}
.info {
    flex-direction: column;
}
.avatar {
    height: 50px;
}
.details { 
    display: flex;
    align-content: flex-start;
    gap: 5px;  
}

.details img {
    height: 25px;
}
/* 
.details p {
    
} */