* { 
    padding: 0px;
    margin: 0px;
    border: 2px solid rgb(138, 87, 125);
}

.flexIt{
    display: flex;
}

.card {
    /* width: 750px; */
    
}

.topBar {
    height: 100px;
    background-color: rgb(16, 141, 163);
}
.bottomCard {
    height: 300px;
}

.border {
   border: 5px solid gray;
}
.info {
    flex-direction: column;
    /* flex: 2; */
}
.avatar {
    height: 60px;
    border-radius: 50%;
}

.details { 
    display: flex;
    align-content: flex-start;
    gap: 5px;  
}

.details img {
    height: 25px;
}
/* 
.details p {
    
} */